<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgroPals-Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightgreen;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://localhost:5000/">
            AgroPals
        </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/about">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/sos">
                            Emergency
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/purchase">
                            Purchase
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
    </nav>
    <h2 style="margin-top: 10px;">
        <center>
            HackBout
        </center>
    </h2>
    <center>
        <img src="{{url_for('static', filename='ladybird.jpg')}}" height="55%" width="55%" style="margin-top: 20px;">
    </center>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
        <div class="jumbotron" style="width: 100%; margin-top: 30px;background-color: white;">
            <h3><center>Team AgroPals</center></h3>
            <h5>Who are we? What we do? How we do?</h5>
            AgroPals is a three-membered team that strives on building a complete portal for the people working at the agricultural sector. The motives of the team are:
                <ul>
                    <li>
                        Implement the pest classification algorithm to bigger number of pests and learn more from it.
                    </li>
                    <li>
                        Making an Android and iOS version of the same application.
                    </li>
                    <li>
                        Exporting to the software to corporates and other countries.
                    </li>
                    <li>
                        To create and caliberate a huge database of information which can be transformed into massive productions.
                    </li>
                </ul>
            <h5>Our Salient Features</h5> 
                <ul>
                    <li>
                        Scrapped easy-comprehendable information from the rigorous official websites run by the Government.
                    </li>
                    <li>
                        Progressive Web/Mobile Application Support. Which enables the users to use the app either way.
                    </li>
                    <li>
                        Vernacular Language Support that enables the non-English readers use the Application.
                    </li>
                    <li>
                        To create and caliberate a huge database of information which can be transformed into massive productions.
                    </li>
                </ul>
                <h5>Our Future Prospectus</h5> 
                <ul>
                    <li>
                        Implement the pest classification algorithm to bigger number of pests and learn more from it.
                    </li>
                    <li>
                        Making an Android and iOS version of the same application.
                    </li>
                    <li>
                        Exporting to the software to corporates and other countries.
                    </li>
                    <li>
                        To create and caliberate a huge database of information which can be transformed into massive productions.
                    </li>
                </ul>
        </div>
    </div>
    </body>
</html>