<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgroPals-Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightgreen;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://localhost:5000/">
            AgroPals
        </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/about">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/sos">
                            Emergency
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/purchase">
                            Purchase
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
    </nav>
    <h2 style="margin-top: 10px;">
        <center>
            HackBout
        </center>
    </h2>
    <h2 style="margin-top: 10px;">
        <center>
            {{ a[0] }}
        </center>
    </h2>
    <center>
        <img src="{{url_for('static', filename='ladybird.jpg')}}" height="55%" width="55%" style="margin-top: 20px;">
    </center>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
    <div class="jumbotron" style="width: 100%; margin-top: 30px; background-color: white;">
        <center>
            <h3>{{ a[1] }}</h3>
            <img src= "{{ url_for('static', filename=loc) }}" height="55%" width="55%" style="margin-top: 20px;">
        </center>
        <br>
        <h4>
            <center>
                {{a[2]}} {{ result }}  
            </center>
        </h4>
        <center>
            <h3>Symptoms</h3>
            <table class = "table table-dark" border="1" style="width: 400px;">
               <thead>
               {% for i in d %}
                  <tr>
                     <th> {{ d.index(i)+1 }} </th>
                     <td> {{ i }} </td>
                  </tr>
               {% endfor %}
               </thead>
            </table>
            <h3>Cure</h3>
            <table class = "table table-dark" border="1" style="width: 400px;">
               <thead>
               {% for i in b %}
                  <tr>
                     <th> {{ b.index(i)+1 }} </th>
                     <td> {{ i }} </td>
                  </tr>
               {% endfor %}
               </thead>
            </table>
         <a href="http://localhost:5000/purchase">Would like to know where can you purchase these medicines</a></center>
    </div>
</div>
</body>
</html>